/node_modules
/bin/builder
/out
/out.min
/src
vsc-extension-quickstart.md
*.vsix
.EIDE
.vscodeignore
lib
/dist
/doc
pack.js
test.js
**/data/config.json
**/data/sln.record
*.cpuprofile
package-lock.json