/node_modules
/out
/out.min
/src
vsc-extension-quickstart.md
*.vsix
.EIDE
.vscodeignore
./lib
/dist
/doc
pack.js
test.js
**/data/config.json
**/data/sln.record
*.cpuprofile
package-lock.json
# internal template projects
res/template/projects
# bin
bin/builder/*.xml
bin/builder/*.exe.config
bin/tools/*