/node_modules
/out
/out.min
vsc-extension-quickstart.md
*.vsix
.EIDE
.vscodeignore
./lib
/dist
/doc
pack.js
test.js
*.js.map
*.cpuprofile
package-lock.json

# private
/src/Telemetry
/src/Private

# eide vars
/res/data/config.json
/res/data/sln.record
/res/data/data.yaml

# internal template projects
res/template/projects

# bin
bin
bin/builder/*.xml
bin/builder/*.exe.config
bin/tools/*
bin_bk
dotnet-runtime*.exe

# shell script
./*.sh

# test
test
