.vscode
.vscode-test
out
src
.EIDE
doc
**/*.log
!**/template/*.jflash
**/*.jflash
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/.gitignore
*.code-workspace
**/sln.record
/bin/ARM/*.temp
/bin/ARM/*.bat
/bin/ARM/SerialPortMonitor
**/*.pdb
**/ARM/*.xml
*.js