.vscode/**
.vscode-test/**
out/test/**
src/**
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.EIDE
.gitignore
*.code-workspace
bin/ARM
bin/C51
res/data/sln.record
README.md
README_EN.md